.Header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
    background-color: hwb(0 100% 0%);
} 
#logo{
    width: 100px;
    height: 100px;
}
#logo img{
    width: 100%;
}

#name{
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

.Heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
}

.sudoku_grid{
    display: flex;
    flex-direction: row;
    max-width: 578px;
    flex-wrap: wrap;

    margin: 10px auto ;
}

.sudoku_grid div{
    display:  flex;
    align-items: center;
    justify-content: center;
    
    width: 60px;
    height: 60px;
    color: white;
    font-size: 40px;

    box-sizing: border-box;
}

.Buttons{   
    display: flex;
    justify-content: center;
    width: 100%;    
    margin-bottom: 80px;
}

#GetPuzzle,#SolvePuzzle{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #000000;
    padding: 10px 17px;
    font-size: 15px;
    border: 1px solid #000000;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3);
    margin-right: 10px;
}

.box1{
    background-color: #858588;
    border: 2px solid  black;
}

.box1:hover{
    background-color: #48aaaD;
    color: black;
}

.box2{
    background-color: #d8d4d3;
    border: 2px solid  black;
}
.box2:hover{
    background-color: rgb(0, 0, 0);
}

.box3{
    background-color: #c4ad8e;
    border: 2px solid  black;
}
.box3:hover{
    background-color: #3Ded97;
    color: black
}

.bl{
    border-left: 4px solid black;
}

.bb{
    border-bottom: 4px solid black;
}

.br{
    border-right: 4px solid black;
}

.bt{
    border-top: 4px solid black;
}

body {background-color:rgb(34, 34, 34);}